{#
  @todo provide preprocess, document available variables
  especially class and data attribute that are used in js behaviors.
#}
<div class="entity_overlay_list_item" data-entity-overlay-id="{{ entity_id }}">
  {{ entity_view }}
</div>
